In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data= pd.read_csv('../../raw_data/aac_intakes_outcomes.csv')

In [3]:
from Animal_Adoption.preproc.data import get_breed

In [4]:
breed_series = get_breed(data['breed'])

In [17]:
def replace_breeds(breed_list: list,
                   new_breed: str,
                   series: pd.Series) -> pd.Series:
    series = series.copy()
    for breed in breed_list:
        series = series.map(lambda x: breed if breed in x else x)
    return series

In [20]:
small_dogs = ["pit bull", "chihuahua","terrier", "dachshund", "miniature poodle", "beagle", "miniature schnauzer", "bulldog", "shih tzu", "pug", "australian kelpie", "maltese", "chow chow", "spaniel", "cardigan welsh corgi","miniature pinscher", "chinese sharpei", "queensland heeler", "pomeranian", "lhasa apso"]

In [24]:
replace_breeds(small_dogs, 'small', data.breed).str.contains('terrier').sum()

0

In [16]:
breed_series.unique()

array(['spinone italiano', 'dachshund', 'shetland sheepdog', ...,
       'yorkshire terrier/dachshund', 'norfolk terrier/pug',
       'australian big/basset big'], dtype=object)

In [35]:
data.isnull().sum()

age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43324
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
dtype: int64

In [31]:
data['sex_upon_outcome'].map(lambda x: x.split(' ')[0])

AttributeError: 'float' object has no attribute 'split'

In [6]:
data['breed'].unique()

array(['Spinone Italiano Mix', 'Dachshund', 'Shetland Sheepdog', ...,
       'Yorkshire Terrier/Dachshund', 'Norfolk Terrier/Pug',
       'Australian Shepherd/Basset Hound'], dtype=object)

In [7]:
len(data['breed'].unique())

2155

In [3]:
def cleaning(sentence):
    ## remove whitespaces
    sentence = sentence.strip() 
    ## lowercasing 
    sentence = sentence.lower() 
    ## remove the word 'mix'-> doesn't work -> data['breed']= data.breed.str.replace('mix', '')
    sentence = sentence.replace('mix', '')
    return sentence

In [4]:
data['breed']= data['breed'].apply(cleaning)

In [10]:
data['breed']

0          spinone italiano
1          spinone italiano
2          spinone italiano
3                  dachshund
4          shetland sheepdog
                ...
79667    domestic shorthair
79668                   bat
79669                   bat
79670    labrador retriever
79671                 boxer
Name: breed, Length: 79672, dtype: object

In [11]:
len(data['breed'].unique())

2155

In [12]:
data['breed'].unique()

array(['spinone italiano ', 'dachshund', 'shetland sheepdog', ...,
       'yorkshire terrier/dachshund', 'norfolk terrier/pug',
       'australian shepherd/basset hound'], dtype=object)

In [13]:
# ['retriever', 'bulldog', 'pit bull', 'terrier', 'dachshund', 'collie', 'shepherd', 'spaniel', 'chihuahua']

In [5]:
#defining all animals with spots
def replace_breed(in_breed: str) -> str:
    breeds = ['retriever', 'bulldog', 'pit bull', 'hound', 'terrier', 'dachshund', 'shepherd', 'spaniel', 'chihuahua']
    breed_list = in_breed.split("/")
    for breed in breeds:
        for i in range(len(breed_list)):
            if breed in breed_list[i]:
                breed_list[i] = breed
    return '/'.join(breed_list)

In [18]:
for el in [["pit bull", "chihuahua","terrier", "dachshund", "miniature poodle", "beagle", "miniature schnauzer", "bulldog", "shih tzu", "pug", "australian kelpie", "maltese", "chow chow", "spaniel", "cardigan welsh corgi","miniature pinscher", "chinese sharpei", "queensland heeler", "pomeranian", "lhasa apso"],
["retriever", "shepherd", "australian cattle dog", "collie", "hound", "boxer", "catahoula", "siberian husky", "great pyrenees","rottweiler", "pointer", "staffordshire", "black mouth cur", "doberman pinsch", "blue lacy"],
    ["domestic shorthair", "american shorthair", "siamese"],
    ["domestic medium hair"],
    ["domestic longhair", "siamese"]]:
    print(len(el))

20
15
3
1
2

In [6]:
data['breed'] = data['breed'].map(replace_breed)

In [7]:
data['breed'].value_counts()

domestic shorthair          23423
pit bull                     6666
chihuahua                    5422
retriever                    5296
terrier                      3033
                            ...
hound/spaniel                   1
great dane/staffordshire        1
finnish spitz/dachshund         1
great dane/boerboel             1
pomeranian/beagle               1
Name: breed, Length: 1498, dtype: int64

In [17]:
replace_breed(data['breed'][5])

'retriever/pit bull'

In [8]:
data['breed']

0          spinone italiano
1          spinone italiano
2          spinone italiano
3                  dachshund
4          shetland sheepdog
                ...
79667    domestic shorthair
79668                   bat
79669                   bat
79670              retriever
79671                 boxer
Name: breed, Length: 79672, dtype: object

In [14]:
# delete the separated breeds-> /
def breeds_separated(in_breed: pd.Series) -> pd.Series:
    breed_list = []
    for row in in_breed:
        breed_list += row.split('/')
    breed_list = np.array([breed.strip() for breed in breed_list])
    return pd.Series(breed_list)

In [17]:
data.breed

0          spinone italiano
1          spinone italiano
2          spinone italiano
3                  dachshund
4          shetland sheepdog
                ...
79667    domestic shorthair
79668                   bat
79669                   bat
79670              retriever
79671                 boxer
Name: breed, Length: 79672, dtype: object

In [26]:
breeds_separated(data['breed']).value_counts()[44:].index

Index(['mastiff', 'great dane', 'toy poodle', 'guinea pig', 'snowshoe',
       'rhod ridgeback', 'chicken', 'collie smooth', 'pekingese', 'whippet',
       ...
       'frog', 'ringtail', 'cirneco', 'havana brown', 'goose', 'entlebucher',
       'budgerigar', 'ocicat', 'wren', 'britannia petit'],
      dtype='object', length=237)

In [ ]:
# delete the separated breeds-> /
# def breeds_separated(sentence):
breed_list = []
for row in data['breed']:
    breed_list += row.split('/')
breed_list = np.array([breed.strip() for breed in breed_list])
#return breed_list
pd.Series(breed_list).value_counts().head(40)

In [ ]:
data['breed'].head(10)

In [ ]:
breed_series.value_counts()[uncommon].sum()

In [ ]:
breed_series = pd.Series(breed_list)
breed_series[breed_series.str.contains('retriever')].unique()

In [ ]:
val_counts = breed_series.value_counts() < 300
print(val_counts.sum())
uncommon = list(val_counts[val_counts].index)

In [ ]:
# from nltk.tokenize import word_tokenize
# from nltk.stem import WordNetLemmatizer
# import string


# def cleaning(sentence):
#     ## remove whitespaces
#     sentence = sentence.strip() 
#     ## lowercasing 
#     sentence = sentence.lower() 
#     ## removing punctuation
#     for punctuation in string.punctuation:
#         sentence = sentence.replace(punctuation, '') 
#     ## tokenizing 
#     tokenized= word_tokenize(sentence) 
#     ## Lemmatizing
#     lemmatizer= WordNetLemmatizer()
#     lemmatized = [lemmatizer.lemmatize(word) for word in tokenized]
#     cleaned_sentence = " ".join(lemmatized)
#     return cleaned_sentence

In [ ]:
# # Clean data['breed]
# data['breed_new']= data.breed.apply(cleaning)

In [ ]:
# data['breed_new'].unique()

In [ ]:
# delete the value 'mix' because most of the dataset contain it
# count_mix = 0
# for i in range(len(data['breed_new'])):
#     if "mix" in data.breed_new[i]:
#         count_mix +=1
# count_mix

In [ ]:
# remove the word 'mix'
# data['breed_new']= data.breed_new.str.replace('mix', '')

In [ ]:
# data['breed_new']

In [ ]:
# count_labrador = 0

# for i in range(len(data.breed_new)):
#     if "labrador" in data.breed_new[i]:
#                count_labrador += 1
# count_labrador

In [ ]:
# count_italiano = 0

# for i in range(len(data.breed_new)):
#     if "italiano" in data.breed_new[i]:
#                count_italiano += 1
# count_italiano

In [ ]:
# import re
# for i in range(len(data.breed_new)):
#     re.findall(^.*(\yorkshire\b)?.*$, data.breed_new)

In [ ]:
# count_yorkshire_terrier = 0

# for i in range(len(data.breed_new)):
#     if "italiano" in data.breed_new[i]:
#                count_yorkshire_terrier += 1
# count_yorkshire_terrier

# count_yorkshire_terrier

In [ ]:
# data.info()

In [ ]:
# from sklearn.feature_extraction.text import CountVectorizer

# count_vectorizer = CountVectorizer(ngram_range= (2,2))
# X = count_vectorizer.fit_transform(data['breed_new'])
# X.toarray()

In [ ]:
# count_vectorizer.get_feature_names_out()

In [ ]:
# import pandas as pd

# vectorized_texts = pd.DataFrame(
#     X.toarray(),
#     columns= count_vectorizer.get_feature_names_out(),
#     index= data['breed_new']
# )

# vectorized_texts

In [ ]:
# vectorized_texts.info()

In [ ]:
# vectorized_texts.keys()

In [ ]:
# clean the column 
def cleaning(sentence):
    ## remove whitespaces
    sentence = sentence.strip() 
    ## lowercasing 
    sentence = sentence.lower() 
    ## remove the word 'mix'-> doesn't work -> data['breed']= data.breed.str.replace('mix', '')
    sentence = sentence.replace('mix', '')
    return sentence

In [ ]:
# delete the separated breeds-> /
# def breeds_separated(sentence):

In [ ]:
# #function for performing all of the above operations at once!
def perform_all_breed_cleaning(series: pd.Series) -> pd.Series:
    breed_map = {
        "small": ["pit bull", "chihuahua","terrier", "dachshund", "miniature poodle", "beagle", "miniature schnauzer", "bulldog", "shih tzu", "pug", "australian kelpie", "maltese", "chow chow", "spaniel", "cardigan welsh corgi","miniature pinscher", "chinese sharpei", "queensland heeler", "pomeranian", "lhasa apso"],
        "big": ["retriever", "shepherd", "australian cattle dog", "collie", "hound", "boxer", "catahoula", "siberian husky", "great pyrenees","rottweiler", "pointer", "staffordshire", "black mouth cur", "doberman pinsch", "blue lacy"],
        "short_hair": ["domestic shorthair", "american shorthair", "siamese"],
        "medium_hair": ["domestic medium hair"],
        "long_hair": ["domestic longhair", "siamese"],
        "uncommon": [???],
    }
    for key, val in breed_map.items():
        series = replace_colors(val, key, series)
    series = series.map(cleaning)
    series = series.map()
    return series

In [25]:
%load_ext autoreload
%autoreload 2
from Animal_Adoption.preproc.data import get_data, get_breed

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [50]:
breed_series = get_breed(data.breed)

Index(['miniature pinscher', 'cocker spaniel', 'chinese sharpei',
       'doberman pinsch', 'boston terrier', 'border terrier',
       'american shorthair', 'american pit bull terrier', 'queensland heeler',
       'pomeranian',
       ...
       'entlebucher', 'havana brown', 'eng toy spaniel', 'goose', 'budgerigar',
       'nuthatch', 'bobcat', 'ocicat', 'norwegian elkhound',
       'britannia petit'],
      dtype='object', length=302)
0
0
0
0
0
0

In [41]:
breed_series.str.contains('dachshund').sum()

0

In [51]:
(breed_series == 'uncommon').sum()

4208

In [58]:
data[data['animal_type'] == 'Bird'].index,

(Int64Index([ 5659,  5908,  5909,  6943,  6944,  9847,  9868, 10211, 10212,
             10213,
             ...
             77169, 77458, 77547, 77693, 77767, 77912, 77942, 78227, 78253,
             78886],
            dtype='int64', length=339),)

In [73]:
data.drop(data[data['animal_type'] == 'Other'].index, inplace = True)

In [74]:
data.breed.str.contains('Raccoon').sum()

0

In [70]:
(data[data['animal_type'] != 'Other'].breed.str.contains('Raccoon')).sum()

0

In [57]:
data.drop(data[data['animal_type'] == 'Bird'].index, inplace = True)

0

In [83]:
data.breed.str.contains('Long').sum()

1936

In [84]:
cats = data[data['animal_type'] == 'Cat']

In [87]:
cats.breed.value_counts()

Domestic Shorthair Mix                  23423
Domestic Medium Hair Mix                 2326
Domestic Longhair Mix                    1248
Siamese Mix                               996
Domestic Shorthair                        387
                                        ...
Siamese/Angora                              1
Domestic Shorthair/British Shorthair        1
Domestic Longhair/Domestic Longhair         1
Snowshoe/Domestic Shorthair                 1
Scottish Fold/Domestic Shorthair            1
Name: breed, Length: 82, dtype: int64

In [52]:
breed_series.unique()

array(['uncommon', 'small', 'long_hair', 'short_hair', 'big',
       'medium_hair', 'rabbit sh ', 'bat ', 'raccoon ', 'raccoon',
       'opossum ', 'bat', 'rabbit sh', 'opossum'], dtype=object)

In [79]:
df = get_data()

In [88]:
df['breed'].value_counts()

short_hair     24108
small          21653
big            15257
uncommon        2590
medium_hair     2358
long_hair       1245
Name: breed, dtype: int64

In [ ]:
# import pandas as pd

# #color name substitution
# def replace_breeds(breed_list: list,
#                    new_breed: str,
#                    series: pd.Series) -> pd.Series:
#     series = series.copy()
#     for breed in breed_list:
#         series = series.str.replace(breed, new_breed)
#     return series

# #check for duplicate values separated by "/"
# def is_duplicate_value(breed: str) -> str:
#     breed_list = breed.split("/")
#     if len(breed_list) != 2:
#         return breed
#     if breed_list[0] == breed_list[1]:
#         return breed_list[0]
#     else:
#         return breed

# #defining all tricolor animals in tricolor
# def is_tricolor(in_color: str) -> str:
#     colors = ["Calico", "Tricolor"]
#     color_list = " ".join(in_color.split("/")).split(" ")
#     for color in colors:
#         if color in color_list:
#             return "Tricolor"
#     return in_color

# #defining all animals in striped
# def has_stripes(in_color: str) -> str:
#     colors = ["Torbie", "Striped", "Tabby", "Tortie", "Tiger", "Brindle", "Sable"]
#     color_list = " ".join(in_color.split("/")).split(" ")
#     for color in colors:
#         if color in color_list:
#             return "Striped"
#     return in_color

# #defining all animals with spots
# def has_spots(in_color: str) -> str:
#     colors = ["Merle", "Spotted"]
#     color_list = " ".join(in_color.split("/")).split(" ")
#     for color in colors:
#         if color in color_list:
#             return "Spotted"
#     return in_color

# #function for performing all of the above operations at once!
# def perform_all_color_cleaning(series: pd.Series) -> pd.Series:
#     color_map = {
#         "": [" Tick"],
#         "Brown": ["Chocolate", "Liver", "Ruddy"],
#         "White": ["Flame Point", "Lilac Point"],
#         "Beige": ["Buff", "Tan", "Fawn", "Yellow", "Gold", "Cream", "Seal Point", "Lynx Point", "Brown Point", "Apricot", "Pink"],
#         "Orange": ["Orange Tabby", "Red"],
#         "Tricolor": ["Tricolor", "Calico"],
#         "Spotted": ["Black Merle", "Brown Merle", "Gray Merle", "Orange Merle" ],
#         "Striped": ["Tiger", "Tabby"],
#         "Gray": ["Black Smoke", "Gray Smoke", "Gray Point", "Silver Lynx Point", "Silver", "Agouti", "Grey", "Blue", "Gray Beige"],
#     }
#     for key, val in color_map.items():
#         series = replace_colors(val, key, series)
#     series = series.map(is_duplicate_value)
#     series = series.map(has_spots)
#     series = series.map(has_stripes)
#     series = series.map(is_tricolor)
    return series