## data preprocessing

In [8]:
%load_ext autoreload
%autoreload 2
from Animal_Adoption.preproc import data, data_cats
import pandas as pd
import sqlite3
pd.set_option('display.max_rows', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Import the data

In [9]:
#data_cats = pd.read_csv('/Users/marcela/code/marcelafae/animals/raw_data/data/animal_data_8_53/aac_shelter_cat_outcome_eng.csv')
#data = pd.read_csv('/Users/marcela/code/marcelafae/animals/raw_data/data/animal_data_8_24/aac_intakes_outcomes.csv')
df = data.get_data()
df_cats = data_cats.get_data_cats()

In [10]:
df.columns

Index(['animal_id_outcome', 'date_of_birth', 'sex_upon_outcome',
       'age_upon_intake', 'animal_id_intake', 'animal_type', 'breed', 'color',
       'intake_condition', 'intake_type', 'sex_upon_intake',
       'age_upon_intake_(years)', 'intake_datetime', 'intake_month',
       'intake_year', 'intake_weekday', 'intake_hour', 'intake_number',
       'time_in_shelter_days', 'sex_type', 'sex'],
      dtype='object')

In [11]:
df_cats.columns

Index(['animal_id', 'animal_type', 'breed', 'color', 'date_of_birth',
       'datetime', 'monthyear', 'outcome_subtype', 'outcome_type',
       'sex_upon_outcome', 'sex', 'Spay/Neuter', 'outcome_age_(days)',
       'outcome_age_(years)', 'Cat/Kitten (outcome)', 'sex_age_outcome',
       'age_group', 'dob_year', 'dob_month', 'dob_monthyear', 'outcome_month',
       'outcome_year', 'outcome_weekday', 'outcome_hour', 'breed1', 'breed2',
       'cfa_breed', 'domestic_breed', 'coat_pattern', 'color1', 'color2',
       'coat'],
      dtype='object')

In [12]:
df_merged = df_cats.merge(df, left_on='animal_id', right_on='animal_id_outcome')

In [13]:
df_cats['animal_id'].isin(df['animal_id_outcome']).sum()

28977

In [7]:
'animal_type_x'
'breed_x'
'color_y'
'intake_condition'
'intake_type'
'sex_upon_intake'
'age_upon_intake_(years)'
'intake_datetime'
'time_in_shelter_days',
'Cat/Kitten (outcome)'
'cfa_breed'
'domestic_breed'
'sex_y'
'Spay/Neuter'
'breed_y'



'color_x', 'date_of_birth_x',
       'datetime', 'monthyear', 'outcome_subtype', 'outcome_type',
       'sex_upon_outcome_x', 'sex_x', 'Spay/Neuter', 'outcome_age_(days)',
       'outcome_age_(years)', , 'sex_age_outcome',
       'age_group', 'dob_year', 'dob_month', 'dob_monthyear', 'outcome_month',
       'outcome_year', 'outcome_weekday', 'outcome_hour', 'breed1', 'breed2',
       'cfa_breed', 'domestic_breed', 'coat_pattern', 'color1', 'color2',
       'coat', 'animal_id_outcome', 'date_of_birth_y', 'sex_upon_outcome_y',
       'age_upon_intake', 'animal_id_intake', 'animal_type_y', 'breed_y',
       , 'intake_condition', 'intake_type', 'sex_upon_intake',
       'age_upon_intake_(years)', 'intake_datetime', 'intake_month',
       'intake_year', 'intake_weekday', 'intake_hour', 'intake_number',
       'time_in_shelter_days', 'sex_type', 'sex_y']

IndentationError: unexpected indent (1791827427.py, line 20)

In [14]:
df_merged.columns

Index(['animal_id', 'animal_type_x', 'breed_x', 'color_x', 'date_of_birth_x',
       'datetime', 'monthyear', 'outcome_subtype', 'outcome_type',
       'sex_upon_outcome_x', 'sex_x', 'Spay/Neuter', 'outcome_age_(days)',
       'outcome_age_(years)', 'Cat/Kitten (outcome)', 'sex_age_outcome',
       'age_group', 'dob_year', 'dob_month', 'dob_monthyear', 'outcome_month',
       'outcome_year', 'outcome_weekday', 'outcome_hour', 'breed1', 'breed2',
       'cfa_breed', 'domestic_breed', 'coat_pattern', 'color1', 'color2',
       'coat', 'animal_id_outcome', 'date_of_birth_y', 'sex_upon_outcome_y',
       'age_upon_intake', 'animal_id_intake', 'animal_type_y', 'breed_y',
       'color_y', 'intake_condition', 'intake_type', 'sex_upon_intake',
       'age_upon_intake_(years)', 'intake_datetime', 'intake_month',
       'intake_year', 'intake_weekday', 'intake_hour', 'intake_number',
       'time_in_shelter_days', 'sex_type', 'sex_y'],
      dtype='object')

In [21]:

def select_and_rename_columns(df):
    # list of columns to keep
    columns_to_keep = ['animal_type_x', 'breed_x', 'color_y', 'intake_condition', 'intake_type',
                       'sex_upon_intake', 'age_upon_intake_(years)', 'intake_datetime',
                       'time_in_shelter_days', 'Cat/Kitten (outcome)', 'cfa_breed', 'domestic_breed',
                       'sex_y', 'Spay/Neuter', 'breed_y']
    
    # select columns and rename them
    df_selected = df[columns_to_keep].rename(columns={'animal_type_x': 'animal_type', 
                                                      'color_y': 'color',
                                                     'breed_x': 'breed', 
                                                      'color_y': 'color',
                                                     'sex_y': 'sex', 
                                                      'Cat/Kitten (outcome)': 'Cat/Kitten',
                                                      'breed_y': 'hair length'})
    
    # return new dataframe with selected and renamed columns
    return df_selected

In [22]:
test_df = select_and_rename_columns(df_merged)

In [23]:
test_df.head()

,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),intake_datetime,time_in_shelter_days,Cat/Kitten,cfa_breed,domestic_breed,sex,Spay/Neuter,hair length
0,Cat,domestic shorthair,Orange,Nursing,Stray,Intact Male,0.038356,2014-07-22 12:00:00,0.169444,Kitten,False,True,Male,No,short_hair
1,Cat,domestic shorthair,Striped,Normal,Stray,Intact Female,0.082192,2014-08-01 16:52:00,13.078472,Kitten,False,True,Female,No,short_hair
2,Cat,domestic shorthair,White/Black,Normal,Stray,Intact Female,0.082192,2014-05-10 13:54:00,50.160417,Kitten,False,True,Female,Yes,short_hair
3,Cat,domestic mediumhair,Black/White,Normal,Stray,Spayed Female,1.000000,2014-03-27 11:06:00,1.159028,Cat,False,True,Female,Yes,medium_hair
4,Cat,domestic shorthair,Black/White,Normal,Stray,Intact Male,0.057534,2014-01-07 18:27:00,2.043056,Kitten,False,True,Male,No,short_hair

In [ ]:
a

In [ ]:
all_color = data_acc_intakes['color']
all_color = pd.DataFrame(all_color)

## Define preprocessing functions

In [ ]:
#color name substitution 
def replace_colors(color_list, new_color, series):
    series = series.copy()
    for color in color_list:
        series = series.str.replace(color, new_color)
    return series

In [ ]:
#check for duplicate values separated by "/"

def is_duplicate_value(color):
    color_list = color.split("/")
    if len(color_list) != 2:
        return color
    if color_list[0] == color_list[1]:
        return color_list[0]
    else:
        return color

In [ ]:
#defining all tricolor animals in tricolor
def is_tricolor(in_color):
    colors = ["Calico", "Tricolor"]
    color_list = " ".join(in_color.split("/")).split(" ")
    for color in colors:
        if color in color_list:
            return "Tricolor"
    return in_color

In [ ]:
#defining all animals in striped
def has_stripes(in_color):
    colors = ["Torbie", "Striped", "Tabby", "Tortie", "Tiger", "Brindle", "Sable"]
    color_list = " ".join(in_color.split("/")).split(" ")
    for color in colors:
        if color in color_list:
            return "Striped"
    return in_color

In [ ]:
#defining all animals with spots
def has_spots(in_color):
    colors = ["Merle", "Spotted"]
    color_list = " ".join(in_color.split("/")).split(" ")
    for color in colors:
        if color in color_list:
            return "Spotted"
    return in_color

## Call cleaning functions

In [ ]:
#function for performing all of the above operations at once!
def perform_all_color_cleaning(series):
    color_map = {
        "": [" Tick"],
        "Brown": ["Chocolate", "Liver", "Ruddy"], 
        "White": ["Flame Point", "Lilac Point"], 
        "Beige": ["Buff", "Tan", "Fawn", "Yellow", "Gold", "Cream", "Seal Point", "Lynx Point", "Brown Point", "Apricot", "Pink"],
        "Orange": ["Orange Tabby", "Red"], 
        "Tricolor": ["Tricolor", "Calico"], 
        "Spotted": ["Black Merle", "Brown Merle", "Gray Merle", "Orange Merle" ], 
        "Striped": ["Tiger", "Tabby"],
        "Gray": ["Black Smoke", "Gray Smoke", "Gray Point", "Silver Lynx Point", "Silver", "Agouti", "Grey", "Blue", "Gray Beige"],
    }
    for key, val in color_map.items():
        series = replace_colors(val, key, series)
    series = series.map(is_duplicate_value)
    series = series.map(has_spots)
    series = series.map(has_stripes)
    series = series.map(is_tricolor)
    return series

In [ ]:
type(all_color["color"])

In [ ]:
final = []
for el in [color.split("/") for color in colors]:
    final += el
list(set(final))

In [ ]:
len(colors)

In [ ]:
colors[-1].replace("Gray Tick", "Gray")

## Old unused code

In [ ]:
#complex colors
# all_color = replace_colors(["Torbie", "Tabby", "Tortie", "Blue Striped", "Brown Striped", "Brindle", "Black Striped" ], "Striped", all_color["color"]) #preliminary striped

# def is_striped(color):
#     colors = ["Striped"]
#     color_list = " ".join(color.split("/")).split(" ")
#     for color in colors:
#         if color in color_list:
#             return True
#     return False


# all_color = all_color.replace(to_replace=['Black/Black Tabby','White/Black Tabby','Black Tabby/White','Black Tabby/Black', 'Brown/Black Tabby',
#                                          'Black Tabby/Orange', 'Black Tabby/Gray Tabby', 'Black Tabby/Gray', 'Black Tabby', 
#                                          'Black Brindle/White', 'Black Brindle', 'White/Black Brindle', 'Black Brindle/Brown', 'Black/Black Brindle',
#                                           'Black Brindle/Black', 'Brown/Black Brindle', 'Brown Tabby/Black Brindle', 'Black Brindle/Blue',
#                                           'Black Brindle/Blue Tick', 'Black Brindle/Brown Brindle', 'Brown Brindle/White',
#                                           'Brown Brindle', 'White/Brown Brindle', 'Black/Brown Brindle', 'Brown Brindle/Black', 'Tricolor/Brown Brindle',
#                                           'Brown Brindle/Tan', 'Brown Brindle/Brown', 'Blue/Brown Brindle', 'Brown/Brown Brindle',
#                                           'Brown Brindle/Red Tick', 'Fawn/Brown Brindle', 'Brown Brindle/Blue Tick',
#                                           'Chocolate/Brown Brindle', 'Tan/Brown Brindle', 'Blue Tick/Brown Brindle', 'Brown Striped', 'Brown Brindle/Blue',
#                                           'Brown Brindle/Blue Cream', 'Brown Brindle/Brown Brindle', 'Brown Brindle/Brown Merle',
#                                           'Brown Brindle/Gray', 'Black Brindle/Brown Brindle', 'Blue Merle/Brown Brindle',
#                                           'Yellow Brindle/White', 'Yellow Brindle', 'White/Yellow Brindle', 'Sable/Brown',
#                                           'Black/Yellow Brindle', 'Blue/Yellow Brindle', 'Tan/Yellow Brindle', 'Yellow Brindle/Blue', 'Torbie', 'Tabby'], value= 'Striped')