In [1]:
%load_ext autoreload
%autoreload 2


import sys
import urllib.parse
from Animal_Adoption.preproc import data_dog, data
import pandas as pd
import numpy as np
import requests
import matplotlib as plt
import seaborn as sns
pd.set_option('display.max_rows', None)

In [2]:
df = data_dog.get_data_dogs()

In [3]:
df['breed'].isnull().sum()

0

In [4]:
df.shape

(45366, 18)

# About the API for dogs

In [5]:
import requests
name = 'golden retriever'
api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(name)
response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"image_link": "https://api-ninjas.com/images/dogs/golden_retriever.jpg", "good_with_children": 5, "good_with_other_dogs": 5, "shedding": 4, "grooming": 2, "drooling": 2, "coat_length": 1, "good_with_strangers": 5, "playfulness": 4, "protectiveness": 3, "trainability": 5, "energy": 3, "barking": 1, "min_life_expectancy": 10.0, "max_life_expectancy": 12.0, "max_height_male": 24.0, "max_height_female": 24.0, "max_weight_male": 75.0, "max_weight_female": 65.0, "min_height_male": 23.0, "min_height_female": 23.0, "min_weight_male": 65.0, "min_weight_female": 55.0, "name": "Golden Retriever"}]

In [6]:

def get_breeds_info(name:str):
    # Make a request to the API to get information about dog breeds
    api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(name)
    response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
    breeds_list = response.json()
    dog_breed_dict = breeds_list
    
    df = pd.DataFrame.from_dict(dog_breed_dict)
    
    return df

In [7]:
get_breeds_info('labrador')

,image_link,good_with_children,good_with_other_dogs,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,...,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,name
0,https://api-ninjas.com/images/dogs/labrador_re...,5,5,4,2,2,1,5,5,3,...,12.0,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0,Labrador Retriever

In [32]:
def get_breeds_info_from_dataframe(df):
    dic_breed_dic ={}
    fail_breed_list = []
    for breed_name in df['breed'].unique():
        api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(breed_name)
        response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
        response_json = response.json()
        # print(response_json
        # if response_json:
        #     dic_breed_list.append(response_json[0])
        if response_json and type(response_json) == list:
            dic_breed_dic[breed_name] = response_json[0]
        else:
            #fail_breed_list.append()
            print(fail_breed_list)
            print(response_json)
            print(type(response_json))
            
    breed_info = pd.DataFrame(dic_breed_dic.values(), index=dic_breed_dic.keys())
    return breed_info

      #  breed_info.append(response_df)
   # print(breed_info)
    #return breed_info

In [33]:
#info_about_breed = get_breeds_info_from_dataframe(df)
#takes too long to do so it is commented

[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>

## to save the results into a csv

In [ ]:
# try_test.to_csv('120_doggos_breed.csv', index=False)
#test_merge.to_csv('final_info_breeds_api.csv')

In [ ]:
# info_about_breed.to_csv('info_about_breed.csv', index=False)

In [35]:
info_about_breed.head()

,image_link,good_with_children,good_with_other_dogs,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,...,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,name
spinone italiano,https://api-ninjas.com/images/dogs/spinone_ita...,3,4,3,2,3,1,3,3,3,...,12.0,27.0,27.0,86.0,75.0,23.0,23.0,75.0,64.0,Spinone Italiano
dachshund,https://api-ninjas.com/images/dogs/dachshund.jpg,3,4,2,2,2,2,4,4,4,...,16.0,9.0,9.0,32.0,32.0,8.0,8.0,16.0,16.0,Dachshund
shetland sheepdog,https://api-ninjas.com/images/dogs/shetland_sh...,5,5,3,3,1,1,2,5,5,...,14.0,16.0,16.0,25.0,25.0,13.0,13.0,15.0,15.0,Shetland Sheepdog
labrador retriever,https://api-ninjas.com/images/dogs/labrador_re...,5,5,4,2,2,1,5,5,3,...,12.0,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0,Labrador Retriever
miniature schnauzer,https://api-ninjas.com/images/dogs/miniature_s...,5,3,3,4,2,1,3,4,4,...,15.0,14.0,14.0,20.0,20.0,12.0,12.0,11.0,11.0,Miniature Schnauzer

## merging 2 dataframes

In [44]:
#merged_df = pd.merge(df, info_about_breed, left_on='breed', right_index=True)
#merged_df_w_dogbreed = df.merge(info_about_breed.reset_index(names='breed'), on='breed', how='outer')

## saving the final merged csv

In [43]:
#merged_df_w_dogbreed.to_csv('final_df_dogs_and_dogbreeds.csv')