In [10]:
%load_ext autoreload
%autoreload 2


import sys
import urllib.parse
from Animal_Adoption.preproc import data, data_dog
import pandas as pd
import numpy as np
import requests
import matplotlib as plt
import seaborn as sns
pd.set_option('display.max_rows', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
df = data_dog.get_data_dogs()

In [12]:
df['breed'].isnull().sum()

0

In [19]:
df.head()

,date_of_birth,sex_upon_outcome,age_upon_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),intake_datetime,intake_month,intake_year,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,2007-07-09,Neutered Male,10 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Stray,Neutered Male,10.0,2017-12-07 00:00:00,12,2017,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,2007-07-09,Neutered Male,7 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,7.0,2014-12-19 10:21:00,12,2014,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,2007-07-09,Neutered Male,6 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,6.0,2014-03-07 14:26:00,3,2014,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,2004-04-02,Neutered Male,10 years,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,10.0,2014-04-02 15:55:00,4,2014,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,1997-10-16,Neutered Male,16 years,Dog,Shetland Sheepdog,Brown/White,Injured,Public Assist,Neutered Male,16.0,2013-11-16 09:02:00,11,2013,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [24]:
df['breed'] = data_dog.get_breed_dogs(df['breed'])

In [26]:
df['breed'] = df['breed'].map(data_dog.breeds_separated_dogs)

In [27]:
df["breed"].unique()

array(['spinone italiano', 'dachshund', 'shetland sheepdog',
       'labrador retriever', 'miniature schnauzer', 'lhasa apso',
       'border collie', 'chihuahua', 'german shepherd', 'newfoundland',
       'pug', 'staffordshire', 'catahoula', 'heeler', 'rottweiler',
       'fox terrier', 'rat terrier', 'pit bull', 'bichon frise',
       'terrier', 'harrier', 'pointer', 'american eskimo',
       'doberman pinsch', 'parson russell terrier', 'australian shepherd',
       'chow chow', 'australian cattle dog', 'siberian husky', 'beagle',
       'gen retriever', 'chinese sharpei', 'cocker spaniel', 'blue lacy',
       'bernese mountain dog', 'greyhound', 'great pyrenees',
       'cardigan welsh corgi', 'boston terrier', 'Poodle (Miniature)',
       'bullmastiff', 'German Shorthaired Pointer', 'weimaraner',
       'pekingese', 'ridgeback', 'field spaniel', 'Poodle (Toy)',
       'manchester terrier', 'pomeranian', 'miniature pinscher',
       'shih tzu', 'collie ', 'cairn terrier', 'american bulldog',
       'pembroke welsh corgi', 'vizsla', 'boxer', 'collie',
       'finnish spitz', 'maltese', 'black', 'basset hound', 'chihuahua ',
       'Catahoula', 'tibetan terrier', 'west highland',
       'american staffordshire terrier', 'yorkshire terrier',
       'silky terrier', 'Wire Fox Terrier', 'norwich terrier',
       'Flat-Coated Retriever', 'australian kelpie', 'shiba inu',
       'dogo argentino', 'basenji', 'plott hound', 'great dane',
       'border terrier', 'st. bernard  coat', 'bull terrier', 'akita',
       'foxhound', 'dalmatian', 'belgian malinois', 'dachshund stan',
       'scottish terrier', 'podo pequeno', 'brittany', 'dutch shepherd',
       'pbgv', 'bulldog', 'carolina dog', 'bruss griffon',
       'ed pointing griffon', 'alaskan husky', 'norfolk terrier',
       'springer spaniel', 'american pit bull terrier', 'mastiff',
       'italian greyhound', 'coonhound', 'afghan hound',
       'bull terrier miniature', 'boerboel', 'Bluetick Coonhound',
       'cane corso', 'toy fox terrier', 'alaskan malamute',
       'dogue de bordeaux', 'soft coated wheaten terrier',
       'chesa bay retr', 'presa canario', 'shepherd', 'airedale terrier',
       'Redbone Coonhound', 'whippet', 'irish wolfhound',
       'Cavalier King Charles Spaniel', 'irish terrier',
       'australian terrier', 'havanese', 'otterhound', 'swedish vallhund',
       'patterdale Terrier', 'feist', 'standard schnauzer',
       'dandie dinmont', 'chinese crested', 'keeshond',
       'belgian tervuren', 'beauceron', 'american foxhound',
       'Poodle (Standard)', 'treeing walker coonhound', 'tibetan spaniel',
       'unknown', 'papillon', 'schipperke', 'kuvasz', 'saluki',
       'dachshund ', 'bloodhound', 'leonberger', 'german pinscher',
       'bedlington terr', 'ibizan hound', 'japanese chin',
       'welsh terrier', 'skye terrier', 'setter', 'port water dog',
       'sheepdog', 'pharaoh hound', 'toy spaniel', 'entlebucher',
       'picardy sheepdog', 'bearded collie', 'french bulldog',
       'Newfoundland', 'affenpinscher', 'canaan dog', 'coton de tulear',
       'german ed pointer', 'belgian sheepdog', 'bouv flandres',
       'swiss hound', 'welsh springer spaniel', 'boykin span',
       'nova scotia duck tolling retriever', 'jindo', 'samoyed',
       'greater swiss mountain dog', 'gordon setter', 'glen of imaal',
       'treeing cur', 'Giant Schnauzer', 'irish setter', 'sealyham terr',
       'lowchen', 'spanish mastiff', 'American Hairless Terrier',
       'neapolitan mastiff', 'treeing tennesse brindle',
       'norwegian elkhound', 'akbash', 'hovawart', 'sussex span',
       'lakeland terrier', 'grand basset griffon vendeen'], dtype=object)

# About the API for dogs

In [ ]:
import requests
name = 'golden retriever'
api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(name)
response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

In [14]:

def get_breeds_info(name:str):
    # Make a request to the API to get information about dog breeds
    api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(name)
    response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
    breeds_list = response.json()
    dog_breed_dict = breeds_list
    
    df = pd.DataFrame.from_dict(dog_breed_dict)
    
    return df

In [18]:
get_breeds_info('labrador')

,image_link,good_with_children,good_with_other_dogs,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,...,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,name
0,https://api-ninjas.com/images/dogs/labrador_re...,5,5,4,2,2,1,5,5,3,...,12.0,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0,Labrador Retriever

In [15]:
def get_breeds_info_from_dataframe(df):
    dic_breed_dic ={}
    fail_breed_list = []
    for breed_name in df['breed'].unique():
        api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(breed_name)
        response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
        response_json = response.json()
        # print(response_json
        # if response_json:
        #     dic_breed_list.append(response_json[0])
        if response_json and type(response_json) == list:
            dic_breed_dic[breed_name] = response_json[0]
        else:
            #fail_breed_list.append()
            print(fail_breed_list)
            print(response_json)
            print(type(response_json))
            
    breed_info = pd.DataFrame(dic_breed_dic.values(), index=dic_breed_dic.keys())
    return breed_info

      #  breed_info.append(response_df)
   # print(breed_info)
    #return breed_info

In [21]:
df['breed']

array(['Spinone Italiano Mix', 'Dachshund', 'Shetland Sheepdog', ...,
       'Yorkshire Terrier/Dachshund', 'Norfolk Terrier/Pug',
       'Australian Shepherd/Basset Hound'], dtype=object)

In [28]:
info_about_breed = get_breeds_info_from_dataframe(df)
#takes too long to do so it is commented

[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>

## to save the results into a csv

In [ ]:
# try_test.to_csv('120_doggos_breed.csv', index=False)
#test_merge.to_csv('final_info_breeds_api.csv')

In [30]:
info_about_breed.to_csv('breeds.csv', index=True)

In [29]:
info_about_breed.head()

,image_link,good_with_children,good_with_other_dogs,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,...,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,name
spinone italiano,https://api-ninjas.com/images/dogs/spinone_ita...,3,4,3,2,3,1,3,3,3,...,12.0,27.0,27.0,86.0,75.0,23.0,23.0,75.0,64.0,Spinone Italiano
dachshund,https://api-ninjas.com/images/dogs/dachshund.jpg,3,4,2,2,2,2,4,4,4,...,16.0,9.0,9.0,32.0,32.0,8.0,8.0,16.0,16.0,Dachshund
shetland sheepdog,https://api-ninjas.com/images/dogs/shetland_sh...,5,5,3,3,1,1,2,5,5,...,14.0,16.0,16.0,25.0,25.0,13.0,13.0,15.0,15.0,Shetland Sheepdog
labrador retriever,https://api-ninjas.com/images/dogs/labrador_re...,5,5,4,2,2,1,5,5,3,...,12.0,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0,Labrador Retriever
miniature schnauzer,https://api-ninjas.com/images/dogs/miniature_s...,5,3,3,4,2,1,3,4,4,...,15.0,14.0,14.0,20.0,20.0,12.0,12.0,11.0,11.0,Miniature Schnauzer

## merging 2 dataframes

In [ ]:
#merged_df = pd.merge(df, info_about_breed, left_on='breed', right_index=True)
#

## saving the final merged csv

In [ ]:
#merged_df_w_dogbreed.to_csv('final_df_dogs_and_dogbreeds.csv')

In [ ]:
#taking the final_df_dogs_and_dogbreeds.csv

final_df_dogs_and_dogbreeds = pd.read_csv('/Users/marcela/code/marcelafae/animals/raw_data/final_df_dogs_and_dogbreeds.csv')

In [ ]:
final_df_dogs_and_dogbreeds['breed'].value_counts()[:6].sum()

In [ ]:
final_df_dogs_and_dogbreeds['breed'].value_counts()[6:].sum()

In [ ]:
def replace_breed_values(df):
    """
    This function takes our final df as input and replaces the 6 most common values of the 'breed'
    column with the string 'common breed', and all other values with the string 'uncommon breed' - like richard suggested
    """
    breed_counts = df['breed'].value_counts()
    common_breeds = []
    uncommon_breeds = []
    for breed in breed_counts.index:
        if breed_counts[breed] >= 6:
            common_breeds.append(breed)
        else:
            uncommon_breeds.append(breed)
    for i in df.index:
        if df.at[i, 'breed'] in common_breeds:
            df.at[i, 'breed'] = 'common breed'
        else:
            df.at[i, 'breed'] = 'uncommon breed'
    return df

In [ ]:
uncommon_common_breed = replace_breed_values(final_df_dogs_and_dogbreeds)

In [ ]:

def replace_breed_values_(df):
    """
    This function takes our final df as input and replaces the 6 most common values of the 'breed'
    column with the string 'common breed', and all other values with the string 'uncommon breed' in a separated column- like richard suggested
    """
    breed_counts = df['breed'].value_counts()
    common_breeds = []
    uncommon_breeds = []
    for breed in breed_counts.index:
        if breed_counts[breed] >= 6:
            common_breeds.append(breed)
        else:
            uncommon_breeds.append(breed)
    breed_type = []
    for breed in df['breed']:
        if breed in common_breeds:
            breed_type.append('common breed')
        else:
            breed_type.append('uncommon breed')
    df['breed_type'] = breed_type
    return df

In [ ]:
uncommon_common_breed_ = replace_breed_values_(final_df_dogs_and_dogbreeds)

In [ ]:
uncommon_common_breed_['breed_type'].isnull().sum()

In [31]:
from Animal_Adoption.preproc.transformers import ColorTransformer

In [32]:
ColorTransformer()

ColorTransformer()

In [33]:
import pickle
file = open('../api/pipeline_best_model.pkl','rb')
pipeline = pickle.load(file)

In [34]:
pipeline.named_steps

{'preprocessor': ColumnTransformer(transformers=[('num',
                                  Pipeline(steps=[('standardscaler',
                                                   StandardScaler())]),
                                  ['age_upon_intake_(years)']),
                                 ('cat',
                                  Pipeline(steps=[('onehotencoder',
                                                   OneHotEncoder(handle_unknown='ignore',
                                                                 sparse=False))]),
                                  ['animal_type', 'breed', 'intake_condition',
                                   'sex', 'sex_type'])]),
 'regressor': GradientBoostingRegressor(max_depth=8, min_samples_split=12, n_estimators=150)}

In [35]:
pipeline.feature_names_in_

array(['age_upon_intake_(years)', 'animal_type', 'breed',
       'intake_condition', 'sex', 'sex_type', 'beige', 'black', 'brown',
       'gray', 'orange', 'point', 'smoke', 'spotted', 'striped',
       'tricolor', 'white'], dtype=object)

In [38]:
pipeline.get_params

<bound method Pipeline.get_params of Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('standardscaler',
                                                                   StandardScaler())]),
                                                  ['age_upon_intake_(years)']),
                                                 ('cat',
                                                  Pipeline(steps=[('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['animal_type', 'breed',
                                                   'intake_condition', 'sex',
                                                   'sex_type'])])),
                ('regressor',
                 GradientBoostingRegressor(max_depth=8, min_samples_split=12,
                                           n_estimators=150))])>

In [39]:
pipeline.fit_transform

<bound method Pipeline.fit_transform of Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('standardscaler',
                                                                   StandardScaler())]),
                                                  ['age_upon_intake_(years)']),
                                                 ('cat',
                                                  Pipeline(steps=[('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['animal_type', 'breed',
                                                   'intake_condition', 'sex',
                                                   'sex_type'])])),
                ('regressor',
                 GradientBoostingRegressor(max_depth=8, min_samples_split=12,
                                           n_estimators=150))])>

In [40]:
pipeline.predict

<bound method Pipeline.predict of Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('standardscaler',
                                                                   StandardScaler())]),
                                                  ['age_upon_intake_(years)']),
                                                 ('cat',
                                                  Pipeline(steps=[('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['animal_type', 'breed',
                                                   'intake_condition', 'sex',
                                                   'sex_type'])])),
                ('regressor',
                 GradientBoostingRegressor(max_depth=8, min_samples_split=12,
                                           n_estimators=150))])>

In [41]:
pipeline.score

<bound method Pipeline.score of Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('standardscaler',
                                                                   StandardScaler())]),
                                                  ['age_upon_intake_(years)']),
                                                 ('cat',
                                                  Pipeline(steps=[('onehotencoder',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['animal_type', 'breed',
                                                   'intake_condition', 'sex',
                                                   'sex_type'])])),
                ('regressor',
                 GradientBoostingRegressor(max_depth=8, min_samples_split=12,
                                           n_estimators=150))])>