In [1]:
from Animal_Adoption.preproc.data import get_data

In [3]:
df = get_data()

In [4]:
df.head()

  age_upon_outcome animal_id_outcome  ...  sex_type     sex
0         10 years           A006100  ...  Neutered    Male
3         10 years           A047759  ...  Neutered    Male
4         16 years           A134067  ...  Neutered    Male
5         15 years           A141142  ...  Neutered  Female
6         15 years           A163459  ...    Intact  Female

[5 rows x 32 columns]

In [9]:
import numpy as np

In [20]:
colors = df['color'].map(lambda x: " ".join(x.split("/")))

In [21]:
colors

0        Beige White
3           Tricolor
4        Brown White
5        Black White
6         Black Gray
            ...
79665           Gray
79666           Gray
79667        Striped
79670    Black White
79671        Striped
Name: color, Length: 67211, dtype: object

In [24]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(colors)
arr = X.toarray()

In [25]:
arr.shape

(67211, 11)

In [26]:
vectorizer.get_feature_names_out()

array(['beige', 'black', 'brown', 'gray', 'orange', 'point', 'smoke',
       'spotted', 'striped', 'tricolor', 'white'], dtype=object)