In [1]:
%load_ext autoreload
%autoreload 2


import sys
import urllib.parse
from Animal_Adoption.preproc import data_dog, data
import pandas as pd
import requests
pd.set_option('display.max_rows', None)

In [33]:
info_dog_breed = pd.read_csv('/Users/marcela/code/marcelafae/animals/Animal_Adoption/notebooks/info_about_breed.csv')

In [3]:
df = data_dog.get_data_dogs()

In [24]:
df.head()

,date_of_birth,sex_upon_outcome,age_upon_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(years),intake_datetime,intake_month,intake_year,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days,sex_type,sex
3,2004-04-02,Neutered Male,10 years,Dog,chihuahua,Tricolor,Normal,Owner Surrender,Neutered Male,10.0,2014-04-02 15:55:00,4,2014,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139,Neutered,Male
12,1997-10-03,Neutered Male,16 years,Dog,german shepherd,Black/Tan,Normal,Owner Surrender,Neutered Male,16.0,2013-10-03 15:47:00,10,2013,Thursday,15,1.0,49 days 17:57:00.000000000,49.747917,Neutered,Male
13,2000-04-27,Neutered Male,14 years,Dog,border collie,Black/White,Sick,Owner Surrender,Neutered Male,14.0,2015-02-17 13:17:00,2,2015,Tuesday,13,1.0,0 days 03:08:00.000000000,0.130556,Neutered,Male
14,1999-06-01,Neutered Male,17 years,Dog,labrador retriever,Tan/Black,Aged,Public Assist,Neutered Male,17.0,2016-09-28 12:05:00,9,2016,Wednesday,12,1.0,9 days 00:29:00.000000000,9.020139,Neutered,Male
18,1998-10-19,Neutered Male,15 years,Dog,labrador retriever,Gold/Gold,Sick,Owner Surrender,Neutered Male,15.0,2013-12-02 15:33:00,12,2013,Monday,15,1.0,0 days 01:36:00.000000000,0.066667,Neutered,Male

In [26]:
df['breed'].unique()

array(['chihuahua', 'german shepherd', 'border collie',
       'labrador retriever', 'doberman pinsch', 'miniature schnauzer',
       'siberian husky', 'pit bull', 'gen retriever', 'cairn terrier',
       'chinese sharpei', 'australian shepherd', 'pekingese',
       'fox terrier', 'rat terrier', 'basenji', 'boston terrier',
       'yorkshire terrier', 'poodle', 'scottish terrier', 'collie',
       'dachshund', 'plott hound', 'boxer', 'parson russell terrier',
       'Poodle (Miniature)', 'australian cattle dog', 'rottweiler',
       'German Shorthaired Pointer', 'Poodle (Standard)',
       'american staffordshire terrier', 'norwich terrier',
       'Bluetick Coonhound', 'akita', 'bichon frise', 'staffordshire',
       'Wire Fox Terrier', 'beagle', 'heeler',
       'Cavalier King Charles Spaniel', 'terrier', 'blue lacy', 'maltese',
       'american pit bull terrier', 'cane corso', 'american bulldog',
       'catahoula', 'Flat-Coated Retriever', 'st. bernard  coat',
       'great dane', 'ridgeback', 'german pinscher', 'pointer',
       'shih tzu', 'black', 'Black and Tan Coonhound', 'cocker spaniel',
       'affenpinscher', 'australian kelpie', 'whippet', 'chow chow',
       'harrier', 'Catahoula', 'lhasa apso', 'spaniel',
       'cardigan welsh corgi', 'shepherd', 'weimaraner', 'pomeranian',
       'pug', 'manchester terrier', 'mastiff', 'basset hound',
       'newfoundland', 'border terrier', 'great pyrenees',
       'dutch shepherd', 'shetland sheepdog', 'pembroke welsh corgi',
       'carolina dog', 'belgian malinois', 'bulldog', 'brittany',
       'miniature pinscher', 'norfolk terrier', 'pbgv', 'foxhound',
       'kuvasz', 'french bulldog', 'bernese mountain dog',
       'irish terrier', 'japanese chin', 'belgian tervuren',
       'nova scotia duck tolling retriever', 'Redbone Coonhound',
       'field spaniel', 'pharaoh hound', 'saluki', 'west highland',
       'treeing walker coonhound', 'patterdale Terrier',
       'standard schnauzer', 'boykin span', 'soft coated wheaten terrier',
       'finnish spitz', 'havanese', 'dogo argentino', 'beauceron',
       'coonhound', 'bruss griffon', 'canaan dog', 'greyhound',
       'alaskan husky', 'ibizan hound', 'bull terrier', 'tibetan terrier',
       'springer spaniel', 'jindo', 'dalmatian', 'shiba inu',
       'bloodhound', 'American Hairless Terrier', 'welsh terrier',
       'american foxhound', 'samoyed', 'Newfoundland', 'Giant Schnauzer',
       'dogue de bordeaux', 'vizsla', 'bullmastiff', nan], dtype=object)

In [27]:
info_dog_breed['name'].unique()

array(['Chihuahua', 'German Shepherd Dog', 'Border Collie',
       'Labrador Retriever', 'Doberman Pinscher', 'Miniature Schnauzer',
       'Siberian Husky', 'Cairn Terrier', 'Australian Shepherd',
       'Pekingese', 'Smooth Fox Terrier', 'Rat Terrier', 'Basenji',
       'Boston Terrier', 'Yorkshire Terrier', 'Poodle (Miniature)',
       'Scottish Terrier', 'Bearded Collie', 'Dachshund', 'Plott Hound',
       'Boxer', 'Parson Russell Terrier', 'Australian Cattle Dog',
       'Rottweiler', 'German Shorthaired Pointer', 'Poodle (Standard)',
       'American Staffordshire Terrier', 'Norwich Terrier',
       'Bluetick Coonhound', 'Akita', 'Bichon Frise', 'Wire Fox Terrier',
       'Beagle', 'Lancashire Heeler', 'Cavalier King Charles Spaniel',
       'Airedale Terrier', 'Maltese', 'Cane Corso', 'American Bulldog',
       'Catahoula Leopard Dog', 'Flat-Coated Retriever', 'Great Dane',
       'Rhodesian Ridgeback', 'German Pinscher',
       'German Longhaired Pointer', 'Shih Tzu', 'Black and Tan Coonhound',
       'Cocker Spaniel', 'Affenpinscher', 'Australian Kelpie', 'Whippet',
       'Chow Chow', 'Harrier', 'Lhasa Apso', 'American Water Spaniel',
       'Cardigan Welsh Corgi', 'Anatolian Shepherd Dog', 'Weimaraner',
       'Pomeranian', 'Pug', 'Manchester Terrier (Standard)',
       'Bullmastiff', 'Basset Hound', 'Newfoundland', 'Border Terrier',
       'Great Pyrenees', 'Dutch Shepherd', 'Shetland Sheepdog',
       'Pembroke Welsh Corgi', 'Carolina Dog', 'Belgian Malinois',
       'Brittany', 'Miniature Pinscher', 'Norfolk Terrier',
       'American Foxhound', 'Kuvasz', 'French Bulldog',
       'Bernese Mountain Dog', 'Irish Terrier', 'Japanese Chin',
       'Belgian Tervuren', 'Nova Scotia Duck Tolling Retriever',
       'Redbone Coonhound', 'Field Spaniel', 'Pharaoh Hound', 'Saluki',
       'West Highland White Terrier', 'Treeing Walker Coonhound',
       'Standard Schnauzer', 'Boykin Spaniel',
       'Soft Coated Wheaten Terrier', 'Finnish Spitz', 'Havanese',
       'Dogo Argentino', 'Beauceron', 'American English Coonhound',
       'Canaan Dog', 'Greyhound', 'Ibizan Hound', 'Bull Terrier',
       'Tibetan Terrier', 'English Springer Spaniel', 'Jindo',
       'Dalmatian', 'Shiba Inu', 'Bloodhound',
       'American Hairless Terrier', 'Welsh Terrier', 'Samoyed',
       'Giant Schnauzer', 'Dogue de Bordeaux', 'Vizsla'], dtype=object)

# About the API for dogs

In [5]:
import requests
name = 'golden retriever'
api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(name)
response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"image_link": "https://api-ninjas.com/images/dogs/golden_retriever.jpg", "good_with_children": 5, "good_with_other_dogs": 5, "shedding": 4, "grooming": 2, "drooling": 2, "coat_length": 1, "good_with_strangers": 5, "playfulness": 4, "protectiveness": 3, "trainability": 5, "energy": 3, "barking": 1, "min_life_expectancy": 10.0, "max_life_expectancy": 12.0, "max_height_male": 24.0, "max_height_female": 24.0, "max_weight_male": 75.0, "max_weight_female": 65.0, "min_height_male": 23.0, "min_height_female": 23.0, "min_weight_male": 65.0, "min_weight_female": 55.0, "name": "Golden Retriever"}]

In [6]:

def get_breeds_info(name:str):
    # Make a request to the API to get information about dog breeds
    api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(name)
    response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
    breeds_list = response.json()
    dog_breed_dict = breeds_list
    
    df = pd.DataFrame.from_dict(dog_breed_dict)
    
    return df

In [7]:
get_breeds_info('labrador')

,image_link,good_with_children,good_with_other_dogs,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,...,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,name
0,https://api-ninjas.com/images/dogs/labrador_re...,5,5,4,2,2,1,5,5,3,...,12.0,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0,Labrador Retriever

In [8]:
test_breed = data_dog.get_breed_dogs(df['breed'])
df['breed'] = data_dog.get_breed_dogs(df['breed'])
test_breed_sep = data_dog.breeds_separated_dogs(test_breed)
df['breed'] = data_dog.breeds_separated_dogs(df['breed'])

In [28]:
def get_breeds_info_from_dataframe(df):
    dic_breed_dic ={}
    fail_breed_list = []
    for breed_name in df['breed'].unique():
        api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(breed_name)
        response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
        response_json = response.json()
        # print(response_json
        # if response_json:
        #     dic_breed_list.append(response_json[0])
        if response_json and type(response_json) == list:
            dic_breed_dic[breed_name] = response_json[0]
        else:
            #fail_breed_list.append()
            print(fail_breed_list)
            print(response_json)
            print(type(response_json))
            
    breed_info = pd.DataFrame(dic_breed_dic.values(), index=dic_breed_dic.keys())
    return breed_info

      #  breed_info.append(response_df)
   # print(breed_info)
    #return breed_info

In [29]:
info_about_breed = get_breeds_info_from_dataframe(df)

[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
[]
<class 'list'>
[]
{'message': 'Internal server error'}
<class 'dict'>

In [31]:
info_about_breed.head()

,image_link,good_with_children,good_with_other_dogs,shedding,grooming,drooling,coat_length,good_with_strangers,playfulness,protectiveness,...,max_life_expectancy,max_height_male,max_height_female,max_weight_male,max_weight_female,min_height_male,min_height_female,min_weight_male,min_weight_female,name
chihuahua,https://api-ninjas.com/images/dogs/chihuahua.jpg,1,3,2,1,1,2,2,4,4,...,16.0,8.0,8.0,6.0,6.0,5.0,5.0,4.0,4.0,Chihuahua
german shepherd,https://api-ninjas.com/images/dogs/german_shep...,5,3,4,2,2,1,3,4,5,...,10.0,26.0,26.0,90.0,70.0,24.0,24.0,65.0,50.0,German Shepherd Dog
border collie,https://api-ninjas.com/images/dogs/border_coll...,3,3,3,3,1,1,4,5,3,...,15.0,22.0,22.0,55.0,55.0,19.0,19.0,30.0,30.0,Border Collie
labrador retriever,https://api-ninjas.com/images/dogs/labrador_re...,5,5,4,2,2,1,5,5,3,...,12.0,24.5,24.5,80.0,70.0,22.5,22.5,65.0,55.0,Labrador Retriever
doberman pinsch,https://api-ninjas.com/images/dogs/doberman_pi...,5,3,4,1,2,1,4,4,5,...,12.0,28.0,28.0,100.0,90.0,26.0,26.0,75.0,60.0,Doberman Pinscher

In [21]:
try_test.to_csv('120_doggos_breed.csv', index=False)

In [32]:
info_about_breed.to_csv('info_about_breed.csv', index=False)

In [ ]:
# breed_info_doggos