In [5]:
%load_ext autoreload
%autoreload 2


import sys
import urllib.parse


from Animal_Adoption.preproc import data, data_cats
import pandas as pd
import requests
pd.set_option('display.max_rows', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [15]:
df = data.get_data()

In [16]:
df['.head()

,animal_id_outcome,date_of_birth,sex_upon_outcome,age_upon_intake,animal_id_intake,animal_type,breed,color,intake_condition,intake_type,...,age_upon_intake_(years),intake_datetime,intake_month,intake_year,intake_weekday,intake_hour,intake_number,time_in_shelter_days,sex_type,sex
0,A006100,2007-07-09,Neutered Male,10 years,A006100,Dog,uncommon,Beige/White,Normal,Stray,...,10.0,2017-12-07 00:00:00,12,2017,Thursday,14,1.0,0.588194,Neutered,Male
1,A006100,2007-07-09,Neutered Male,7 years,A006100,Dog,uncommon,Beige/White,Normal,Public Assist,...,7.0,2014-12-19 10:21:00,12,2014,Friday,10,2.0,1.259722,Neutered,Male
2,A006100,2007-07-09,Neutered Male,6 years,A006100,Dog,uncommon,Beige/White,Normal,Public Assist,...,6.0,2014-03-07 14:26:00,3,2014,Friday,14,3.0,1.113889,Neutered,Male
3,A047759,2004-04-02,Neutered Male,10 years,A047759,Dog,small,Tricolor,Normal,Owner Surrender,...,10.0,2014-04-02 15:55:00,4,2014,Wednesday,15,1.0,4.970139,Neutered,Male
4,A134067,1997-10-16,Neutered Male,16 years,A134067,Dog,uncommon,Beige/White,Injured,Public Assist,...,16.0,2013-11-16 09:02:00,11,2013,Saturday,9,1.0,0.119444,Neutered,Male

# About the API for dogs

In [14]:
name = 'golden retriever'
api_url = 'https://api.api-ninjas.com/v1/dogs?name={}'.format(name)
response = requests.get(api_url, headers={'X-Api-Key': 'T1uOOYf5geCLwn8dpS8SMQ==HaH3Ky5bHqTqh3IS'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"image_link": "https://api-ninjas.com/images/dogs/golden_retriever.jpg", "good_with_children": 5, "good_with_other_dogs": 5, "shedding": 4, "grooming": 2, "drooling": 2, "coat_length": 1, "good_with_strangers": 5, "playfulness": 4, "protectiveness": 3, "trainability": 5, "energy": 3, "barking": 1, "min_life_expectancy": 10.0, "max_life_expectancy": 12.0, "max_height_male": 24.0, "max_height_female": 24.0, "max_weight_male": 75.0, "max_weight_female": 65.0, "min_height_male": 23.0, "min_height_female": 23.0, "min_weight_male": 65.0, "min_weight_female": 55.0, "name": "Golden Retriever"}]

In [11]:
if __name__ == '__main__':
    try:
        while True:
            main()
    except KeyboardInterrupt:
        print('\nGoodbye!')
        sys.exit(0)

City?
>  Berlin

1. Berlin, DE
2. Berlin, US
3. Berlin, US
4. Berlin, US
5. Berlin, US

Multiple matches found, which city did you mean?
>  Berlin, DE

ValueError: invalid literal for int() with base 10: 'Berlin, DE'

Error: 400 {"error": "Invalid API Key."}