# Work on data analysis of intake_condition

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

pd.set_option('display.max_rows', None)

In [2]:
data_acc_intakes = pd.read_csv('/Users/marcela/code/marcelafae/animals/raw_data/data/animal_data_8_24/aac_intakes.csv')

## Eliminate everything but cats and dogs

In [5]:
data_acc_intakes = data_acc_intakes[data_acc_intakes['animal_type'].str.contains('Bird') == False]
data_acc_intakes = data_acc_intakes[data_acc_intakes['animal_type'].str.contains('Other') == False]
data_acc_intakes = data_acc_intakes[data_acc_intakes['animal_type'].str.contains('Livestock') == False]

## Work on the dtypes and drop useless columns

In [6]:
data_acc_intakes = data_acc_intakes.convert_dtypes()
data_acc_intakes = data_acc_intakes.drop(['breed', 'color', 'datetime', 'datetime2', 'found_location', 'name', 'sex_upon_intake'], axis=1)

In [7]:
data_acc_intakes['intake_condition'].value_counts()

Normal      67439
Injured      3327
Sick         2166
Nursing      1867
Aged          319
Other         144
Feral          91
Pregnant       49
Name: intake_condition, dtype: Int64

## Python functions

In [9]:
#functions to fix the age dtype from srt to int
def fix_age(x):
    
    x1=x.split(' ')
    if 'year' in x1[1]:
        return float(x1[0])
    
    elif 'month' in x1[1]:
        x1[0] = int(x1[0])/12
        return float(x1[0])
    
    elif 'week' in x1[1]:
        x1[0] = int(x1[0])/52
        return float(x1[0])
    
    else: 
        x1[0] = int(x1[0])/365
        return float(x1[0])

In [10]:
#drop all animals under 8 considered AGED on the normal df 

def drop_under_8_aged(df):
    condition_1 = df['age_upon_intake'] > 8
    condition_2 = df['intake_condition'] != 'Aged'
    new_df = df[(condition_1) & (condition_2)]
    return new_df

In [11]:
#intakes_aged['age_upon_intake'] = intakes_aged['age_upon_intake'].apply(lambda x: fix_age(x))